.crd {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    word-break: break-all;
}

.right{
    width: 35%;
    margin: auto;
    margin-right: 0;
}
img {
    margin: auto;
    max-height: 600px;
    max-width: 600px;
}